body {
    background-image: url('../assets/background.png');
    /* background-repeat: no-repeat; */
    background-repeat: repeat-y;
    background-size: 102%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 35px;
    border-radius: 15px;
    font-size: 48px;
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.subtitle-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    padding: 20px 35px;
    border-radius: 15px;
    font-size: 28px;
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.popup-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px 30px;
    border-radius: 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    width: 400px;
}

/* Code for the flexbox logic for the cards containing buttons on the homepage */
.cards-row {
    display: flex;
    gap: 40px;
}

.card {
    width: 250px;
    padding: 20px;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0); /* fully transparent */
    border: 2px solid black;            /* black border */

    /* TODO: Decide if we want these cards to be white or transparent with a black border */
    /* background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
}

/* Code for the main buttons (ex: 'My Library') */
.card-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    box-sizing: border-box;
}

.btn-green {
    background-color: #52BF7F;
    color: white;
}
.btn-green:hover {
    background-color: #46A666;
}

.btn-blue {
    background-color: #528CBF;
    color: white;
}
.btn-blue:hover {
    background-color: #4675A6;
}

.btn-yellow {
    background-color: #BFAE52;
    color: white;
}
.btn-yellow:hover {
    background-color: #A89046;
}

.btn-purple {
    background-color: #9152BF;
    color: white;
}
.btn-purple:hover {
    background-color: #7A46A6;
}

/* Code for the Exit Library Button */
.exit-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 60px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-red {
    background-color: #BF5252;
}

.btn-red:hover {
    background-color: #A84646;
}

.btn-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Code for the quiz object */
/* Container to center everything vertically and horizontally */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
}

.quiz-question {
    background-color: white;
    border-radius: 15px;
    padding: 25px 20px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
    line-height: 1.5;
    border: 2px solid black;  
}

.quiz-answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

.quiz-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    box-sizing: border-box;
    color: black;
    background-color: white;
    border: 2px solid black;  
}

.quiz-btn.selected {
    background-color:lightgray;
}

.decision-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    gap: 150px;
}

.decision-btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    box-sizing: border-box;
}

/* Code for the account creation page */
.hero-img {
    width: 400px;
    height: 400px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Styling for the library */
.library-book {
    /* flex: 0 0; */
    background-image: url("../assets/vertical_book_cropped_blue.png");
    
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 200px;
    min-height: 300px;
    display: flex;
    justify-content: center; /* X-axis */
    align-items: flex-start; /* Y-axis */
    /* background-color: #BF5252; */
    /* padding-top: 50px; */
    margin: 12px;
}

.library-book-title {
    font-size: 1.75em;
    padding: 10px;
    font-family: 'Inter', Arial, sans-serif;
    /* padding-left: 10px; */
    
}

.library-shelf {
    display: flex;
    font-size: 3em;
    background-color: #c39d6b;
    border-radius: 12px;
    /* max-width: 60%; */
    width: 70%;
    justify-content: center;
    /* justify-self: center; */
    /* align-self: top; */
}

.library-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-self: center;
    max-width: 60%;
    overflow: auto;
    margin-bottom: -30px;
}

.library-section::-webkit-scrollbar {
    display: none;
}
